/* new added css by sayan */
[type='text']:focus {
  box-shadow: none;
}

.custTableView tbody tr td .mantine-Input-input,
table tbody tr td .mantine-Input-input {
    height: 2rem;
    min-height: 2rem;
    border-radius: 5px;
    border-color: #cac9c9;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}

.mantine-1es4wzm>tbody>tr>td {
    font-size: x-small;
    padding: 8px;
}

.mantine-1uskmy4 {
    font-size: x-small;
}

.mantine-1es4wzm>thead>tr>th,
.mantine-1es4wzm>tfoot>tr>th,
.mantine-1es4wzm>tbody>tr>th {
    padding: 5px 10px;
}
/* ======================== */
/* Hide number input spinners for Chrome, Safari, Edge, Opera */
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide number input spinners for Firefox */
.no-spinner[type="number"],
input[type="number"] {
  -moz-appearance: textfield;
}

/* Hide number input spinners for all number inputs within tables */
table input[type="number"]::-webkit-outer-spin-button,
table input[type="number"]::-webkit-inner-spin-button,
.mantine-Table-root input[type="number"]::-webkit-outer-spin-button,
.mantine-Table-root input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

table input[type="number"],
.mantine-Table-root input[type="number"] {
  -moz-appearance: textfield;
}

/* Panel */
.panel {
    @apply relative rounded-md bg-white p-5 shadow dark:bg-black;
}

/* Navbar */
.navbar-sticky header,
.navbar-floating header {
    @apply sticky top-0 z-20;
}

.navbar-floating header {
    @apply bg-[#fafafa]/90 px-6 pt-4 dark:bg-[#060818]/90;
}

.navbar-floating header>div>div:first-child {
    @apply rounded-md;
}

.horizontal .navbar-floating header>div>div:first-child {
    @apply rounded-b-none;
}

.horizontal .navbar-floating header .horizontal-menu {
    @apply rounded-b-md;
}

.mantine-Paper-root>div {
    justify-content: end;
}

.mantine-Button-label {
    font-size: 0.7rem !important;
}

.mantine-Button-leftIcon {
    margin: 0 !important;
}

/* Start Custom Table Style 14-8-24 by Santanu */
.d-None {
    display: none !important;
}

.custTableView {
    border: 1px solid #ddd;
    margin-bottom: 5px;
}

.custTableView thead tr {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}

.custTableView tbody tr {
    border-color: rgb(224 230 237 / 0.7) !important;
}

.custTableView thead tr th {
    padding: 5px 5px !important;
    font-size: 10px;
    line-height: 12px;
    font-weight: 800;
    color: #4c4c4c;
    vertical-align: middle;
    letter-spacing: 0.1px;
    white-space: nowrap;
}

.custTableView tbody tr td {
    padding: 5px 5px !important;
    font-size: 11px;
    line-height: 13px;
    font-weight: normal;
    color: #333;
    vertical-align: middle;
    letter-spacing: 0.1px;
}

.custTableView tfoot tr td {
    padding: 5px 5px !important;
    font-size: 11px;
    line-height: 13px;
    font-weight: 700;
    color: #333;
    vertical-align: middle;
    letter-spacing: 0.1px;
}

.custTableView tbody tr td .form-input,
table tbody tr td .form-input {
    padding: 0.5rem 0.5rem;
    font-size: 11px;
    line-height: 14px;
}

.custTableView tbody tr td .mantine-Input-input,
table tbody tr td .mantine-Input-input {
    height: 2rem;
    min-height: 2rem;
}

table tbody tr td .mantine-Button-root {
    height: 1.9rem;
    outline: 0;
}

table tbody tr td .mantine-ActionIcon-root {
    height: auto;
    min-height: auto;
}

table tbody tr td .mantine-ActionIcon-root svg {
    height: 20px;
}

.innerTableSelectWt .css-13cymwt-control {
    width: 115px;
}

.custTableView.lg-custTableView thead tr th {
    padding: 10px 8px !important;
}

.custTableView.lg-custTableView tbody tr td {
    padding: 10px 8px !important;
}

.custTableView.wrap thead tr th {
    white-space: normal !important;
}

.custAccoHead {
    border-bottom: 0.0625rem solid #dee2e6;
    color: #495057;
    font-weight: bold;
    font-size: 0.8rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* background-color: rgb(246 248 250 / var(--tw-bg-opacity)) !important; */
    background-color: #d9e8ff !important;
    outline: 0;
}

.custRadioGroup label .MuiButtonBase-root {
    padding: 2px;
}

.custRadioGroup label .MuiButtonBase-root .css-hyxlzm svg {
    width: 0.8em;
    height: 0.8em;
}

.custRadioGroup label .MuiTypography-root {
    font-size: 14px;
    line-height: 17px;
    color: #333;
    letter-spacing: 0.1px;
}

.custRadioGroup label {
    margin-right: 20px;
}

.fileTypeInput {
    padding: 0.33rem 0.75rem !important;
}

.formLabelTx {
    color: rgb(136, 142, 168, 1);
    font-size: 13px;
    line-height: 15px;
    margin: 0px 0px 2px 0px;
    padding: 0px;
}

/* .formLabelTy {
    color: rgb(136, 142, 168, 1);
    font-size: 13px;
    line-height: 21px;
    margin: 0px 0px 2px 0px;
    padding: 0px;
    width: 170px;
} */




.form-input {
    border-color: rgb(136, 142, 168, 0.5);
    border-radius: 4px;
}

.panel {
    padding: 0.6rem 0.8rem !important;
}



/* Mantine Table Header Styles - Ensure consistent font sizes */
.mantine-TableHeadCell-root {
    font-size: 0.625rem !important;
    font-weight: 600 !important;
    color: #374151 !important;
}

.mantine-TableHeadCell-Content {
    font-size: 0.625rem !important;
    font-weight: 600 !important;
    color: #374151 !important;
}

.mantine-TableHeadCell-Content-Wrapper {
    font-size: 0.625rem !important;
    line-height: 0.9rem !important;
    color: #374151 !important;
    overflow: hidden;
    text-overflow: ellipsis;
}

table tr th .mantine-TableHeadCell-Content .mantine-Indicator-root .mantine-ActionIcon-root {
    opacity: 1;
}

table.mantine-Table-root tbody tr {
    border-color: rgb(224 230 237 / 0.8) !important;
}

table.mantine-Table-root>thead>tr>th {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    padding-left: 0.65rem !important;
    padding-right: 0.65rem !important;
    font-size: 0.625rem !important;
    line-height: 0.9rem !important;
}

table.mantine-Table-root>tbody>tr>td {
    padding-top: 0.3rem !important;
    padding-bottom: 0.3rem !important;
    padding-left: 0.65rem !important;
    padding-right: 0.65rem !important;
    font-size: 0.7rem;
    line-height: 0.75rem;
}

table tr th .mantine-Checkbox-root .mantine-Checkbox-body,
table tr td .mantine-Checkbox-root .mantine-Checkbox-body {
    height: 1rem;
    width: 1rem;
    border: 1px solid #bcbcbc;
}

table tr th .mantine-Checkbox-root .mantine-Checkbox-body .mantine-Checkbox-inner,
table tr td .mantine-Checkbox-root .mantine-Checkbox-body .mantine-Checkbox-inner {
    height: 1rem;
    width: 1rem;
}

table tr th .mantine-Checkbox-root .mantine-Checkbox-body .mantine-Checkbox-inner .mantine-Checkbox-input,
table tr td .mantine-Checkbox-root .mantine-Checkbox-body .mantine-Checkbox-inner .mantine-Checkbox-input {
    height: 1rem;
    width: 1rem;
}

table tr th .mantine-Checkbox-root .mantine-Checkbox-body .mantine-Checkbox-inner .mantine-Checkbox-icon,
table tr td .mantine-Checkbox-root .mantine-Checkbox-body .mantine-Checkbox-inner .mantine-Checkbox-icon {
    right: 0.1rem;
}

/* Additional Mantine Table Header Consistency */
.mantine-Table-root .mantine-TableHeadCell-root,
.mantine-Table-root .mantine-TableHeadCell-Content,
.mantine-Table-root .mantine-TableHeadCell-Content-Wrapper {
    font-size: 0.625rem !important;
    font-weight: 600 !important;
    color: #374151 !important;
}

/* Ensure all table headers have consistent font size */
table thead tr th,
.mantine-Table-root thead tr th,
.mantine-TableHeadCell-root {
    font-size: 0.625rem !important;
    font-weight: 600 !important;
}

/* Force consistent header styling for Mantine React Table */
.mantine-Table-root .mantine-TableHeadCell-root,
.mantine-Table-root .mantine-TableHeadCell-Content,
.mantine-Table-root .mantine-TableHeadCell-Content-Wrapper,
.mantine-Table-root .mantine-TableHeadCell-Content > div,
.mantine-Table-root .mantine-TableHeadCell-Content > span {
    font-size: 0.625rem !important;
    font-weight: 600 !important;
    color: #374151 !important;
    line-height: 0.9rem !important;
}

/* table tr td .mantine-InputWrapper-root .mantine-Input-wrapper .mantine-Input-input {
    min-height: 1.9rem;
    height: 1.9rem;
} */

table thead tr,
table tfoot tr {
    background-color: #d9e8ff !important;
}

.mantine-TableHeadCell-Content-Actions .mantine-ActionIcon-root {
    height: 15px;
    min-height: 15px;
}

.mantine-Paper-root .mantine-kq5u63 {
    min-height: 2rem;
    /* overflow: hidden; */
}

.custom-table th:first-child,
.custom-table td:first-child {
    width: 20px !important;
    min-width: 20px !important;
    max-width: 20px !important;
}


.mantine-Paper-root .mantine-kq5u63 .mantine-hiv720 .mantine-ActionIcon-root {
    height: 1.125rem;
    min-height: 1.125rem;
}

.mantine-Paper-root .mantine-kq5u63 .mantine-1avyp1d {
    position: absolute;
}

.mantine-Paper-root .mantine-kq5u63 .mantine-1avyp1d .mantine-Alert-root {
    padding: 0px;
}

.mantine-Paper-root .mantine-kq5u63 .mantine-1avyp1d .mantine-Alert-root .mantine-uizu3s {
    padding: 4px 16px;
}

.mantine-vl6xmj {
    min-height: 2.4rem;
}

.mantine-d3oese {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.mantine-d3oese .mantine-Select-root .mantine-Select-wrapper .mantine-Select-input {
    height: 1.8rem;
    min-height: 1.8rem;
}

.tableGroupBtn {
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.2rem;
}

.tableGroupBtn .mantine-Button-root {
    height: 1.6rem;
    padding-left: .3rem;
    padding-right: .4rem;
    outline: 0;
}

.tableInput {
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    padding: 0.45rem 0.5rem;
    /* background: rgba(0, 0, 0, 0.015); */
    outline: 0;
    font-size: 10px;
    line-height: 15px;
    color: #636363;
    width: 95%;
}

.horizontal-menu ul.sub-menu {
    min-width: 290px;
    max-height: 270px;
    overflow-y: auto;
}

.no-hover-highlight:hover {
    background-color: transparent !important;
}

.radius-b {
    border-radius: 50%;
    border: 1px solid #ddd;
}

.dropdown ul {
    margin-top: 0rem;
}

.bgImgFixed {
    position: fixed;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    /* background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: contain; */
}

.h-100 {
    height: 100% !important;
}

.marginTopLogo {
    margin-top: 70px;
}

.mantine-1y5nj2a,
.mantine-15m2thz {
    height: 1.8rem;
    min-width: 1.8rem;
}

.page-titlebar {
    margin-bottom: 5px;
    border-left: 0.5rem solid #ff8a00;
    border-right: 0.02rem solid #ff8a00;
    border-top: 0.02rem solid #ff8a00;
    border-bottom: 0.02rem solid #ff8a00;
}

.css-1xc3v61-indicatorContainer,
.css-15lsz6c-indicatorContainer {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.css-13cymwt-control,
.css-t3ipsp-control,
.css-16xfy0z-control {
    min-height: 32px !important;
}

.formLabel {
    margin-bottom: 1px !important;
    font-size: 0.7rem;
    line-height: 0.8rem;
    font-weight: 700;
    margin-top: 5px;
}

.whiteTx {
    color: #FFF;
}

.opacity9 {
    opacity: 0.9;
}

.form-input,
.form-textarea,
.form-select,
.form-multiselect {
    padding-top: 0.38rem !important;
    padding-bottom: 0.38rem !important;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}

.fileTypeInput {
    padding-top: 0.2rem !important;
    padding-bottom: 0.2rem !important;
}

.mantine-Button-root {
    height: 2.15rem;
}

.mantine-Autocomplete-wrapper .mantine-Input-wrapper .mantine-Input-input {
    height: 2.1rem;
    min-height: 2.1rem;
}

.manuList {
    max-height: 350px;
}

.horizontal-menu {
    background: #f3f9ff;
}

.horizontal-menu .nav-item .nav-link {
    font-size: 0.75rem;
}

.sub-menu li button div svg {
    color: #1c7ed6 !important;
}

/* .mantine-select-dropdown {
    font-size: 0.3rem;
} */

/* table thead tr th,
table tfoot tr th,
table tbody tr td {
    text-align: auto !important;
} */

/* .mantine-4og05d,
.mantine-Paper-root>div:nth-child(2) {
    min-height: auto;
} */

/* End Custom Table Style 14-8-24/26-8-24/28-8-24/9-9-24 by Santanu */
span.flatpickr-weekday {
    color: #FFF !important;
}

.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

/* .nextjs-toast-errors-parent [data-nextjs-toast-wrapper] {
    padding: 10px 16px !important;
} */
.h200 {
    height: 200px;
}

.smTable thead tr th,
.smTable tbody tr td {
    padding-bottom: 4px !important;
    padding-left: 7px !important;
    padding-right: 7px !important;
    padding-top: 4px !important;
    font-size: 10px !important;
    line-height: 12px !important;
}

.mantine-11byrip {
    min-width: 185px;
    margin-left: 6px;
}

.mantine-kk86jl {
    height: 1.8rem;
}

.mantine-4og05d,
.mantine-Paper-root>div:nth-child(2) {
    /* max-height: 6vh; */
    min-height: 6vh;
}

/* .main-content {
    padding-bottom: 100px;
} */

.yesNoTogal {
    width: auto;
    /* height: 27px; */
    line-height: 16px;
    font-size: 13px;
    display: inline-flex;
    font-weight: bold;
    border-color: #a5c6f5;
    -webkit-appearance: auto;
    -moz-appearance: auto;
    appearance: auto;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
}

@media (max-width: 767px) {
    .sm-justify-center {
        justify-content: center !important;
    }
}

.p-pl-table-item .mantine-r2iq5s {
    z-index: 1;
}
.p-pl-table-item .mantine-vl6xmj {
    z-index: 0;
}
.css-1nmdiq5-menu {
    z-index: 999 !important;
}